#input{
    width: 300px;
    margin-left: 135px;
}

#output{
    width: 300px;
    margin-left: 135px;
}

.table{
    height: 300px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 4px black;
}
